<section class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color: #df3643; height: auto">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3>Menü</h3></b></li>
                <hr>
                <li>Anasayfa</li>
                <li>Hakkımızda</li>
                <li>Ürünler</li>
                <li>İletişim</li>
              </ul>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3>İletişim bilgileri</h3></b></li>
                <hr>
                <li>Adres</li>
                <li>Telefon</li>
                <li>Sabit Telefon</li>
                <li>Eposta</li>

              </ul>
            </div>

           
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <p style="text-align: center;">Copyright Beralp Kılınç Tüm Hakları Saklıdır. 2021</p>
      </div>
    </div>
  </div>
</section>