<app-navbar></app-navbar>
<app-header></app-header>

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rujmodal">
         Ruj Hakkında Bilgi
        </button>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#fondotenmodal">
          Fondoten Hakkında Bilgi
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="rujmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ruj Nedir? Ne İşe Yarar?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quisquam velit ea modi facere corporis fuga repudiandae sint enim, vitae at quo sunt quae quas. Consectetur impedit reprehenderit dolor eaque.
         Illum aliquid autem est doloremque! Sunt optio in consequuntur ut beatae, eligendi quae dolorem! Amet modi vitae dicta cupiditate dignissimos quae nobis atque? Nulla odit necessitatibus provident debitis hic deserunt.
         Nulla, alias odio? Ipsum reiciendis facilis modi, totam officiis assumenda? Modi voluptatem architecto accusamus harum fuga tenetur voluptates est, facilis ab nemo veniam delectus distinctio voluptas laudantium aut a cum?
         Vitae accusantium perferendis explicabo saepe repudiandae, tenetur quis pariatur non accusamus tempore illo illum consectetur, vel dignissimos, deleniti sit eius ipsam excepturi blanditiis necessitatibus? Dicta vero repudiandae ipsam voluptatum laborum?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
 
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="fondotenmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Fondoten Nedir? Nasıl Kullanılır</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur sequi blanditiis id tempore repellat optio voluptas corporis, iure ipsum praesentium doloremque magnam. Eum in, autem voluptatibus veniam fugit est!
          Nobis possimus voluptas illum repudiandae doloremque quis officia odit beatae deserunt consectetur, a nesciunt. Velit dolor odio sit, ducimus unde deserunt porro omnis temporibus odit quas dolore ipsam quia corrupti.
          Cum ducimus natus excepturi quod mollitia tempora in laudantium ex similique modi omnis doloribus dignissimos exercitationem sit dolorum placeat labore rerum tempore fugit nisi nihil eveniet, aspernatur reprehenderit nobis? Hic?
          Voluptatum ipsam placeat architecto ratione laborum. Sapiente soluta repellat suscipit qui iure hic temporibus. Ipsam aspernatur maiores nobis et odio, qui vitae natus ex at quam architecto iste enim esse?
          Ex velit numquam officiis omnis sed voluptate iure, iusto corrupti consequuntur expedita incidunt ratione tempora, cupiditate voluptatem saepe architecto quisquam recusandae, necessitatibus placeat! Perspiciatis maiores sapiente doloribus deserunt commodi ipsam.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
    
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
