<app-navbar></app-navbar>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">Bize Ulaşın</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-7 d-flex justify-content-center">
      <form>
        <div class="row">
        <div class="form-group col-lg-6">
          <label for="exampleInputEmail1">Ad Soyad:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ad Soyad">

        </div>
        <div class="form-group col-lg-6">
          <label for="exampleInputPassword1">Konu:</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Konu">
        </div>
        <div class="form-group col-lg-6">
          <label for="exampleInputPassword1">Eposta:</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ad">
        </div>
        <div class="form-group col-lg-6">
          <label for="exampleInputPassword1">Telefon:</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefon">
        </div>
        <div class="form-group col-lg-12">
          <label for="exampleInputPassword1">Mesaj:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
        </div>
       


      </div>
      <br>
        <button type="submit" class="btn btn-primary">Gönder</button>
      </form>
    </div>
    <div class="col-lg-5 d-flex justify-content-center">
      <div class="contact-main" style="width: 100%; height: 300px;">
        <ul style="list-style-type:none">
          <li>Adres:Eti mah. Strazburg Cad. 40/16 Çankaya/ANKARA</li>
          <li>Telefon:0 553 666 0321</li>
          <li>Eposta:kilincberkalp@gmail.com</li>
          <li>Çalışma Saatler:P.tesi-C.tesi0:09:00 - 18:00</li>
        </ul>
      </div>
    </div>
   
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.211745102237!2d30.649904615064187!3d36.90920137992625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38e26546b4803%3A0x51ccd409d1591cc8!2sPlayer%201%20internet%20cafe!5e0!3m2!1str!2str!4v1610829024429!5m2!1str!2str" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>



<app-footer></app-footer>
